---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am a second-year Ph.D. student in Computer Science at Stony Brook University, advised by <a href="https://jacoblau0513.github.io">Prof. Yi Liu</a>. 
  </p>

  <p>
  My research interests include Explainable AI, AI for Science, and LLMs for Science.
</div>

<!-- ========== News ========== -->
<div class="docs-section" id="news">  
  <h4>News</h4>
  <div>
    <table border="1" style="border-width: 0px;" width="1050">
      <tbody>
        <tr>
          <td style="border-style: none; border-width: medium;">
            <ul class="STYLE238">
              <li>01/2026: Passed the CS Research Proficient Exam (RPE).</li>
              <li>05/2025: Paper <a href="">An RL Agent for Drug Discovery</a> accepted to the ACL 2025 Findings Track.</li>
              <li>04/2025: Presented work on RL Agent at the IACS Research Day.</li>
              <li>12/2024: Passed the CS qualifier.</li>
              <li>11/2024: Paper <a href="https://dl.acm.org/doi/10.1145/3690624.3709302">3DGraphX</a> accepted to KDD 2025.</li>
              <li>03/2024: Presented work on XAI for Science at the <a href="https://www3.cs.stonybrook.edu/~grd/">CS Graduate Research Day</a>.</li>
              <li>01/2024: Joined Stony Brook University as a CS PhD student in Spring 2024.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  * indicates equal contribution. <br/>
  <sup>&#8225;</sup> indicates equal senior contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
             
            {% if paper.project_page %}
              <a class="button" href="{{ paper.project_page }}" target="_blank">Project Page</a>
            {% endif %}
             
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
             
            {% if paper.project_page %}
              <a class="button" href="{{ paper.project_page }}" target="_blank">Project Page</a>
            {% endif %}

            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- ========== Service ========== -->
<div class="docs-section" id="service">
  <h4>Service</h4>
  
  <p style="text-align:left"><b>Conference/Journal Reviewer:</b></p>
  <ul class="STYLE238">
    <li>International Conference on Learning Representations (ICLR) 2025-2026</li>
    <li>Conference on Neural Information Processing Systems (NeurIPS) 2024-2025</li>
    <li>International Conference on Machine Learning (ICML) 2024-2025</li>
    <li>ACM Transactions on Knowledge Discovery from Data (TKDD) 2024</li>
  </ul>
  
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


<!-- ========== Acknowledgement ========== -->
<div class="docs-section" id="awards">
  <h4>Acknowledgement</h4>
  <p> This website was built using the template provided by <a href="https://faculty.washington.edu/msaveski/">Martin Saveski</a>.
</p>

</div>
